<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/shared.css" />
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h1>404 Page not found</h1>
      <p>Sorry, we weren't able to find this page</p>
    </main>
  </body>
</html>
